Cancerous tumour = Malignant
Fast growing
Metastasize (spread in body)

Non-cancerous tumour= Benign
No metastasizing
slow growing

Data is collected from biopsy tests.

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Importing data and create dataframe

In [ ]:
# load dataset from csv file
df=pd.read_csv('/content/data.csv')
print(df)

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [ ]:
df.dtypes

id                           int64
diagnosis                   object
radius_mean                float64
texture_mean               float64
perimeter_mean             float64
area_mean                  float64
smoothness_mean            float64
compactness_mean           float64
concavity_mean             float64
concave points_mean        float64
symmetry_mean              float64
fractal_dimension_mean     float64
radius_se                  float64
texture_se                 float64
perimeter_se               float64
area_se                    float64
smoothness_se              float64
compactness_se             float64
concavity_se               float64
concave points_se          float64
symmetry_se                float64
fractal_dimension_se       float64
radius_worst               float64
texture_worst              float64
perimeter_worst            float64
area_worst                 float64
smoothness_worst           float64
compactness_worst          float64
concavity_worst            float64
concave points_worst       float64
symmetry_worst             float64
fractal_dimension_worst    float64
Unnamed: 32                float64
dtype: object

In [ ]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

Diagnosis column type is object.
M=Malignant, B=Benign
Change datatype to int(boolean, 0s and 1s)

In [ ]:
#use dummy variable to create new columnn
dum=pd.get_dummies(df['diagnosis'])
dum.rename(columns={'M':'Malignant','B':"Benign"},inplace=True)

#concatenate the new variables, and drop the previous variable 
df2=pd.concat([df,dum],axis=1)
df2.drop("diagnosis",axis=1,inplace=True)

In [ ]:
df2.tail()

         id  radius_mean  texture_mean  ...  Unnamed: 32  Benign  Malignant
564  926424        21.56         22.39  ...          NaN       0          1
565  926682        20.13         28.25  ...          NaN       0          1
566  926954        16.60         28.08  ...          NaN       0          1
567  927241        20.60         29.33  ...          NaN       0          1
568   92751         7.76         24.54  ...          NaN       1          0

[5 rows x 34 columns]

In [ ]:
# Now only use Malignant columnt as new diagnosis columns
df2.drop(['Benign'],axis=1,inplace=True)

In [ ]:
df2.tail()

         id  radius_mean  ...  Unnamed: 32  Malignant
564  926424        21.56  ...          NaN          1
565  926682        20.13  ...          NaN          1
566  926954        16.60  ...          NaN          1
567  927241        20.60  ...          NaN          1
568   92751         7.76  ...          NaN          0

[5 rows x 33 columns]

In [ ]:
# rename "Malignant" as 'Diagnosis'
df2.rename(columns={'Malignant':"Diagnosis"},inplace=True)

Analyse the dataset.
df2 is the main dataframe now

In [ ]:
df2.shape

(569, 33)

In [ ]:
df2.describe()

                 id  radius_mean  ...  Unnamed: 32   Diagnosis
count  5.690000e+02   569.000000  ...          0.0  569.000000
mean   3.037183e+07    14.127292  ...          NaN    0.372583
std    1.250206e+08     3.524049  ...          NaN    0.483918
min    8.670000e+03     6.981000  ...          NaN    0.000000
25%    8.692180e+05    11.700000  ...          NaN    0.000000
50%    9.060240e+05    13.370000  ...          NaN    0.000000
75%    8.813129e+06    15.780000  ...          NaN    1.000000
max    9.113205e+08    28.110000  ...          NaN    1.000000

[8 rows x 33 columns]

In [ ]:
# 'id' and 'Unnaed:32' are not useful data, drop
df2.drop(['id','Unnamed: 32'], axis=1, inplace=True)

In [ ]:
df2.shape

(569, 31)

In [ ]:
# Get info from data
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   radius_mean              569 non-null    float64
 1   texture_mean             569 non-null    float64
 2   perimeter_mean           569 non-null    float64
 3   area_mean                569 non-null    float64
 4   smoothness_mean          569 non-null    float64
 5   compactness_mean         569 non-null    float64
 6   concavity_mean           569 non-null    float64
 7   concave points_mean      569 non-null    float64
 8   symmetry_mean            569 non-null    float64
 9   fractal_dimension_mean   569 non-null    float64
 10  radius_se                569 non-null    float64
 11  texture_se               569 non-null    float64
 12  perimeter_se             569 non-null    float64
 13  area_se                  569 non-null    float64
 14  smoothness_se            569 non-null    float64
 15  compactness_se           569 non-null    float64
 16  concavity_se             569 non-null    float64
 17  concave points_se        569 non-null    float64
 18  symmetry_se              569 non-null    float64
 19  fractal_dimension_se     569 non-null    float64
 20  radius_worst             569 non-null    float64
 21  texture_worst            569 non-null    float64
 22  perimeter_worst          569 non-null    float64
 23  area_worst               569 non-null    float64
 24  smoothness_worst         569 non-null    float64
 25  compactness_worst        569 non-null    float64
 26  concavity_worst          569 non-null    float64
 27  concave points_worst     569 non-null    float64
 28  symmetry_worst           569 non-null    float64
 29  fractal_dimension_worst  569 non-null    float64
 30  Diagnosis                569 non-null    uint8
dtypes: float64(30), uint8(1)
memory usage: 134.0 KB

In [ ]:
df2['Diagnosis'].dtype

dtype('uint8')

In [ ]:
# change dtype into int64
df2['Diagnosis']= df2['Diagnosis'].astype('int')

In [ ]:
df2['Diagnosis'].dtype

dtype('int64')

Data analysis: statistical information

In [ ]:
df2.describe()

       radius_mean  texture_mean  ...  fractal_dimension_worst   Diagnosis
count   569.000000    569.000000  ...               569.000000  569.000000
mean     14.127292     19.289649  ...                 0.083946    0.372583
std       3.524049      4.301036  ...                 0.018061    0.483918
min       6.981000      9.710000  ...                 0.055040    0.000000
25%      11.700000     16.170000  ...                 0.071460    0.000000
50%      13.370000     18.840000  ...                 0.080040    0.000000
75%      15.780000     21.800000  ...                 0.092080    1.000000
max      28.110000     39.280000  ...                 0.207500    1.000000

[8 rows x 31 columns]

In [ ]:
# distribution of target(Diagnosis)
df2["Diagnosis"].value_counts()

0    357
1    212
Name: Diagnosis, dtype: int64

from [131], 0=benign, 1=malignant

In [ ]:
# Compare data features between benign and malignant cases
df2.groupby('Diagnosis').mean()

           radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
Diagnosis                             ...
0            12.146524     17.914762  ...        0.270246                 0.079442
1            17.462830     21.604906  ...        0.323468                 0.091530

[2 rows x 30 columns]

Separate the data from target(diagnosis)

In [ ]:
X=df2.drop(columns='Diagnosis', axis=1)
Y=df2["Diagnosis"]

In [ ]:
print(X)

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0          17.99         10.38  ...          0.4601                  0.11890
1          20.57         17.77  ...          0.2750                  0.08902
2          19.69         21.25  ...          0.3613                  0.08758
3          11.42         20.38  ...          0.6638                  0.17300
4          20.29         14.34  ...          0.2364                  0.07678
..           ...           ...  ...             ...                      ...
564        21.56         22.39  ...          0.2060                  0.07115
565        20.13         28.25  ...          0.2572                  0.06637
566        16.60         28.08  ...          0.2218                  0.07820
567        20.60         29.33  ...          0.4087                  0.12400
568         7.76         24.54  ...          0.2871                  0.07039

[569 rows x 30 columns]

In [ ]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
564    1
565    1
566    1
567    1
568    0
Name: Diagnosis, Length: 569, dtype: int64

Split data into training and test data

In [ ]:
# split data into 30% test data, 70% training
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.3,stratify=Y, random_state=0)

In [ ]:
# show division of data into training and test data
print(X.shape, X_train.shape, X_test.shape)

(569, 30) (398, 30) (171, 30)

Train Model

In [ ]:
model=LogisticRegression(class_weight='balanced',max_iter=10000)

In [ ]:
# train model with training data
model.fit(X_train,Y_train)

LogisticRegression(class_weight='balanced', max_iter=10000)

Test Accuracy

In [ ]:
X_prediction=model.predict(X_train)

In [ ]:
score=accuracy_score(Y_train, X_prediction)
print(score)

0.957286432160804

In [ ]:
X_test_prediction=model.predict(X_test)
score_test=accuracy_score(Y_test, X_test_prediction)
print(score_test)

0.9649122807017544

Build predictive test

In [ ]:
# features from individual with benign tumor
data=(7.76,24.54,47.92,181,0.05263,0.04362,0,0,0.1587,0.05884,0.3857,1.428,2.548,19.15,0.007189,0.00466,0,0,0.02676,0.002783,9.456,30.37,59.16,268.6,0.08996,0.06444,0,0,0.2871,0.07039)
data_numpyArray=np.asarray(data)

In [ ]:
#reshape numpy array (predict for one data point)
data_reshape = data_numpyArray.reshape(1,-1)

In [ ]:
#prediction
prediction=model.predict(data_reshape)
print(prediction)

[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
if prediction ==0:
  print("Tumor is benign (non-cancerous)")
else:
  print("Tumor is malignant (cancerous)")

Tumor is benign (non-cancerous)